.main{
  position: relative;
  left: 10px;
}

.button-link{
  color:#0d6efd;
}

.button-link:hover{
  color: blue;
  cursor: pointer;
}

.sparade-listor{
  position: relative;
  top: 25px;
}

.hideList{
  display: none;
}

.showList{
  display: block;
}
