<div class="main">
  <nav class="navigation">
    <a class="button-link" (click)="goHome()">Hem</a> |
    <a class="button-link" (click)="nyLista()">Ny lista</a>
  </nav>

  <div class="sparade-listor" [ngClass]="showSavedLists ? 'displayList' : 'hideList'">Sparade listor
    <div *ngFor="let item of tidigare">
      <div class="button-link" (click)="onListClick(item.name)">{{ item.name }}</div>
    </div>
  </div>

  <app-shoppinglist (handlaClicked)="handlaClickedHandler()" [ngClass]="showList ? 'displayList' : 'hideList'" [items]="shoppinglist"></app-shoppinglist>
  <app-shoppinglist-details [ngClass]="handlaMode ? 'displayList' : 'hideList'" [clickedItems]="[]" [items]="shoppinglist"></app-shoppinglist-details>

</div>

