<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Hur delar jag en lista med någon annan?">
    <ng-template ngbPanelContent>
      Längst ner på sidan med listan finns en knapp det står Exportera på. Klicka på den så laddas det ner en fil som innehåller inköpslistan.
      Leta upp filen i din enhets filhanterare och skicka den till den kontakt du vill dela listan med.
      Den du vill dela listan med laddar ner denna fil från meddelandet/eposten och går sedan in på "Ny lista" och klickar på "Välj fil" bredvid Importera rubriken.
      Leta upp filen och klicka OK så laddas listan.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Hur sparar jag en lista?">
    <ng-template ngbPanelContent>
      Genom att klicka på Spara knappen. I textrutan bredvid knappen kan du namnge den, annars får den namnet dagens datum.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Hur raderar jag gamla listor">
    <ng-template ngbPanelContent>
      Det kanske inte behövs, man kan återanvända gamla listor genom att lägga till och ta bort varor/rader.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
