<div class="app-shoppinglist">
  <p>Mata in vara</p>

  <div class="shopping-list">
    <form [formGroup]="itemForm">
      <div class="inputdiv">
        <input #nameField id="name" name="name" type="text" placeholder="Namn" formControlName="name"/>
      </div>
      <div class="inputdiv">
        <!--<ngbd-typeahead-focus #ngbdTypeaheadFocus id="category" name="category" formControlName="category"></ngbd-typeahead-focus>-->
        <select formControlName="category" >
          <option name="category" id="category" *ngFor="let name of kategorier">{{name}}</option>
        </select>
      </div>
      <div class="inputdiv">
        <input id="amount" name="amount" type="text" placeholder="Antal" formControlName="amount"/>
      </div>
      <p></p>
      <div class="ny-vara">
        <button (click)="nyVara()" [disabled]="newDisabled">Ny vara</button>
      </div>
    </form>
    <hr class="hr-list">
    <div *ngIf="items && items.length > 0" class="listan">Inköpslista {{ now }}
      <p></p>
      <div *ngFor="let item of items">
        <div><span class="amount-name">{{ item.amount }} {{ item.name }}</span> <span class="category">{{ item.category }}</span> <a class="removeButton" (click)="removeItem(item.id)">Bort</a></div>
      </div>
      <p></p>
      <button class="spara-lista-knapp" (click)="sorteraLista()">Sortera</button>
      <div class="spara-lista">
        <button class="spara-lista-knapp" (click)="sparaLista()">Spara</button>
        <input id="list-namn" name="list-namn" type="text" placeholder="Namn på listan"/>
        <span [ngClass]="listaSparad ? 'showList' : 'hideList'">Sparat!</span>
      </div>
      <button class="spara-lista-knapp" (click)="shoppa()">Handla!</button>
      <hr class="hr-list">
      <button class="spara-lista-knapp" (click)="exportera()">Exportera</button>
      <div class="choose-file">
        <label class="choose-file label">Importera: </label>
        <input type='file' (change)="fileChanged($event)">
      </div>
    </div>
  </div>
</div>
