.form-control { width: 300px; }

.app-shoppinglist {
  display: inline-block;
  position: relative;
  left: 10px;
  width: 476px;
  background-color: whitesmoke;
}

.shopping-list{
  display: inline-block;
}

.inputdiv{
  padding: 4px;;
}

.ny-vara{
  padding: 4px;
}

.hr-list{
  position: relative;
  left:4px;
}

.listan{
  padding: 4px;
}

.amount-name{
  display: inline-block;
  width: 200px;
}

.category{
  font-size: small;
  font-style: italic;

  display: inline-block;
  width: 200px;
}

.spara-lista{
  position: relative;
}

.spara-lista-knapp {
  margin: 2px;
  min-width: 70px;
}

.spara-lista-knapp:hover {
  background-color: antiquewhite;
}

.removeButton{
  color:#0d6efd;
}

.removeButton:hover{
  color: blue;
  cursor: pointer;
}

.hideList{
  display: none;
}

.showList{
  margin: 4px;
  color: green;
}

.choose-file label{
  padding-right: 6px;
}
